
<div class="row gx-0">
    <div class="col col-sm-4 mt-3">

        <div class="d-flex flex-column justify-content-between h-50 mx-4">
            <p><i class="fa-solid fa-house"></i><span class="px-2">Home</span></p>
            <p><i class="fa-solid fa-magnifying-glass"></i><span class="px-2">Search</span></p>
            <p><i class="fa-solid fa-compass"></i><span class="px-2">Explore</span></p>
            <p><i class="fa-solid fa-message"></i><span class="px-2">Messages</span></p>
            <p><i class="fa-solid fa-heart"></i><span class="px-2">Notifications</span></p>
            <p><i class="fa-solid fa-plus"></i><span class="px-2">Create</span></p>
            <p><a routerLink='/login' routerLinkActive="router-link-active"><i class="fa-solid fa-user"></i><span class="px-2">Profile</span></a> </p>
        </div>
    </div>
    <div class="col col-sm-8 mt-3">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-sm-2"><img src="../../../assets/images/nature.jpg" class="imgStyle">
                        <p class="text-center">John</p>
                    </div>
                    <div class="col col-sm-2"><img src="../../../assets/images/nature.jpg" class="imgStyle">
                        <p class="text-center">John</p>
                    </div>
                    <div class="col col-sm-2"><img src="../../../assets/images/nature.jpg" class="imgStyle">
                        <p class="text-center">John</p>
                    </div>
                    <div class="col col-sm-2"><img src="../../../assets/images/nature.jpg" class="imgStyle">
                        <p class="text-center">John</p>
                    </div>
                    <div class="col col-sm-2"><img src="../../../assets/images/nature.jpg" class="imgStyle">
                        <p class="text-center">John</p>
                    </div>
                    <div class="col col-sm-2"><img src="../../../assets/images/nature.jpg" class="imgStyle">
                        <p class="text-center">John</p>
                    </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                    <p>
                        <i class="fa-solid fa-film"></i><span class="px-2">Filmthusiast</span>
                    </p>
                    <p><i class="fa-solid fa-ellipsis"></i></p>
                </div>
            </div>
            <div class="card-body">
                <img src="../../../assets/images/nature.jpg" class="img-thumbnail" alt="...">

                <div class="d-flex justify-content-between">
                    <p>
                        <i class="fa-solid fa-heart px-3 ms-3"></i>
                        <i class="fa-solid fa-comment px-3"></i>
                        <i class="fa-solid fa-share px-3"></i>
                    </p>
                    <p><i class="fa-solid fa-bookmark me-3"></i></p>
                </div>

                <span class="ms-3">
                    <img src="../../../assets/images/nature.jpg" class="imgStyle" />
                    <span class="px-2">Liked By Mythili and 12765 Followers</span>
                </span>
                <p class="ms-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates facilis
                    doloremque
                    odio culpa inventore fuga recusandae ab necessitatibus at magni. Deserunt omnis fugit rem
                    veritatis
                    perspiciatis, suscipit doloremque animi ut.</p>
            </div>

        </div>
    </div>
</div>